#flex-grid {
}

.grid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    grid-gap: 5%;
    grid-auto-flow: dense;
}

details {
}

details summary::-webkit-details-marker {
  display:none;
}

#selected {
    grid-column-start: 1;
    grid-column-end: 4;
    max-width: 950px;
    justify-self: center;
    height: fit-content;
    padding: 5%;
    border-style: double;
}

.item-container {
    contain: content;
    width: 100%;
    height: 100%;
    max-width: 450px;
}
    .carroussel {
        overflow: scroll;
        display: inline-flex;
        scroll-behavior: smooth;
        max-height: 450px;
    }
    .carroussel img {
        object-fit: contain;
    }

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index:2;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-weight: 300;
    opacity: 0;
    transition: opacity .4s;
}

.overlay:hover {
    opacity:90%;
}
.thumbnails {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    grid-column-gap: 1em;
    justify-items: center;
    align-items: center;
    margin-top: 2em;
    padding-top: 2em;
    border-top: double;
}

.thumbnails img {
    max-width: 150px;
    max-height: 150px;
    height: auto;
    transition: transform .2s;
}

.thumbnails img:hover{
    transform: scale(1.06);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#selected summary {
    display: none
}

.main {
    width: 100%;
    display: grid;
    /* grid-template-columns: auto max-content; */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2em;
    justify-items: center;
}

.description  {
    padding-right: 5%;
    padding-top: 2%;
    min-width: 300px;
}

nav {
    display: grid;
    grid-template-areas: 'previous . next';
    position: absolute;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: space-between;
    z-index: 2;
}
nav i {
    padding: 1em;
}

#close-detail{
    float: right;
    padding: .6em;
    margin-top: -5%;
    margin-right: -5%;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .grid {
        grid-template-columns: 45% 45%;
    } #selected {
        grid-column-end: 3;
    }
}

@media only screen and (max-width: 768px) {
    .grid {
        grid-template-columns: 100%;
    } #selected {
        grid-column-end: unset;
    }
}
